.table-container{
    display: flex;
    width: 95vw;
    justify-content: center;
    align-items: center;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 5vh;
    text-align: center;
}

